@inherits LayoutComponentBase

<div class="page dark h-screen font-sans">
    <div class="bg-gray-100 dark:bg-gray-900 h-full">
        <main class="content px-4 relative">
            @Body
        </main>
    </div>
</div>